@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --primary-color: #0A0927;
    --secundary-color: #181733;
    --font-color: #FDC52C;
    --font-color-secundary: #CD122D;
}

body{
    height: 100vh;
    background-color: var(--secundary-color);
}

.interface{
    max-width: 1280px;
    margin: 0 auto; 
}

.flex{
    display: flex;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    justify-content: center;
    gap: 1.5rem;
}

h2.titulo{
    color: var(--font-color);
    font-size: 38px;
    text-align: center;
}

/*CABEÇALHO*/
header{
    padding: 5px 2%;
    background-color: var(--primary-color);
}

.logo img{
    width: 80px;
    height: 80px;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: var(--font-color);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: var(--font-color-secundary);
    transform: scale(1.1);
}

header nav ul{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
}

/*noticias*/
.news{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.title{
    text-align: center;
    margin: 50px 0;
}

.title h5{
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 38px;
}

.column-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 30%;
}

.card img{
    width: 100%;
}

.panel{
    padding: 10%;
    box-shadow: 0px 0px 18px -8px rgb(0, 0, 0);
    border-radius: 10px;

    background-color: var(--primary-color);
}

p{
    color: var(--font-color);
    padding: 15px 0px;
}

span.date{
    color: var(--font-color-secundary);
    font-weight: 700;
}

.card a{
    text-decoration: none;
    color: var(--font-color-secundary);
}

/* titulos */
section.titulos{
    padding: 40px 4%;
}

section.titulos .flex{
    gap: 60px;
}

.titulos .titulos-box{
    color: var(--font-color-secundary);
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.titulos .titulos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--primary-color);
}

.titulos .titulos-box img{
    width: 100px;
}

.titulos .titulos-box h3{
    font-size: 28px;
    margin: 15px 0;
}

#desc{
    text-align: justify;
}

/*jogadores*/
section.jogadores{
    padding: 40px 4%;
}

.cards{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: #0A0927;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: .5s;
    margin: 40px 20px;
}

.cards:hover{
    height: 280px;
}

.cards .img-box{
    position: absolute;
    width: 200px;
    height: auto;
    top: 0px;
    transition: .5s;
}

.cards:hover .img-box{
    top: -100px;
    scale: 0.75;
}

.cards .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: .5s;
}

.cards:hover .content{
    top: 130px;
    height: 150px;
}

h2{
    color: #FDC52C;
}

p{
    color: #fff;
}

/*sobre*/
section.sobre{
    padding: 40px 4%;
}

.img-sobre img{
    width: 400px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: var(--font-color-secundary);
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: var(--font-color-secundary);
    display: block;
}

/*footer*/
footer{
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
}

footer h3{
    color: var(--font-color);
}